body {
    font-family: Arial, sans-serif;
    margin: 0; /* Add this to remove default margin */
    height: 100vh; /* Make the body full height */
    background-image: url('background2.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex; /* Add this to center the container */
    justify-content: center; /* Add this to center the container */
    align-items: center; /* Add this to center the container */
}
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 140px; /* Adjust the width of your logo */
    height: auto;
}
label {
    display: block;
    margin-bottom: 10px;
}
.form-container {
background-color: rgba(255, 255, 255, 0.4); /* Adjust opacity and color to blend with background */
padding: 20px;
border-radius: 8px;
max-width: 600px;
margin: 20px auto;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

select, input[type="file"], textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.form-group {
    margin-bottom: 20px;
}
.message-box {
resize: vertical;
height: 150px;
width: calc(100% - 20px); /* Adjust width to match other form elements */
padding: 10px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
background-color: rgba(255, 255, 255, 0.8); /* Adjust to blend with background */
}
.file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
}
.file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}
.file-upload-label {
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}